<header>
    <h1>My To-Do List</h1>
    <nav class="navigation">
      <ul>
        <li><a href="/">View Tasks</a></li>
        <li><a href="/showForm">Add a New Task</a></li>
      </ul>
    </nav>
  </header>