#slogan {
    width: 250px;
    padding-left: 55px;
    color: #a3a4a2;
    font-family: 'Abel', sans-serif;
    font-size: .65em;
    text-transform: uppercase;
}

.print, .date {
    color: #a9a8a5;
    font-family: 'Abel', sans-serif;
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 33px;
}

section hr {
    border-bottom: 1px solid #eee;
    height: 0;
}

footer section p {
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
    color: #aaa;
}